body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #ff0000;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px #ff0000;
}
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 6px;
}
button {
    width: 100%;
     padding: 10px;
     background: #4CAF50;
     color: white;
    border: none;
    border-radius: 6px;
  cursor: pointer;
}
       
button:hover {
     background: #45a049;
}
        
.resultado {
     margin-top: 15px;
    font-weight: bold;
}
